## Task 1 - SQL

### Build SparkSession:

In [1]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.getOrCreate()

### Read the json file:

In [3]:
df = spark.read.format('json').load('DataFrames_sample.json')

### Display the schema:

In [4]:
df.printSchema()

root
 |-- D: double (nullable = true)
 |-- H: double (nullable = true)
 |-- HDD: string (nullable = true)
 |-- Id: long (nullable = true)
 |-- Model: string (nullable = true)
 |-- RAM: string (nullable = true)
 |-- ScreenSize: string (nullable = true)
 |-- W: double (nullable = true)
 |-- Weight: double (nullable = true)
 |-- Year: long (nullable = true)

In [5]:
df.show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
| 8.0|20.3|  1TB SSD|  4|       iMac|64GB|       27"| 25.6|  20.8|2017|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all the data when "Model" equal "MacBook Pro":

In [7]:
df.where(df.Model == 'MacBook Pro').show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Create TempView:

In [8]:
df.createOrReplaceTempView("TABLE")

### Display "RAM"column and count "RAM" column:

In [10]:
spark.sql("select RAM, count(RAM) from TABLE group by RAM").show()

+----+----------+
| RAM|count(RAM)|
+----+----------+
|64GB|         1|
|16GB|         1|
| 8GB|         2|
+----+----------+

### Get all columns when "Year" column equal "2015"

In [12]:
spark.sql("SELECT * FROM TABLE WHERE YEAR == '2015'").show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all when "Model" start with "M":

In [14]:
spark.sql("SELECT * FROM TABLE WHERE MODEL LIKE 'M%'").show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
|7.74|0.52|256GB SSD|  2|    MacBook| 8GB|       12"|11.04|  2.03|2016|
|8.94|0.68|128GB SSD|  3|MacBook Air| 8GB|     13.3"| 12.8|  2.96|2016|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data when "Model" column equal "MacBook Pro"

In [15]:
spark.sql("SELECT * FROM TABLE WHERE MODEL == 'MacBook Pro'").show()

+----+----+---------+---+-----------+----+----------+-----+------+----+
|   D|   H|      HDD| Id|      Model| RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-----------+----+----------+-----+------+----+
|9.48|0.61|512GB SSD|  1|MacBook Pro|16GB|       15"|13.75|  4.02|2015|
+----+----+---------+---+-----------+----+----------+-----+------+----+

### Get all data with Multiple Conditions when "RAM" column equal "8GB" and "Model" column is "Macbook".

In [17]:
spark.sql("SELECT * FROM TABLE WHERE RAM =='8GB' AND MODEL == 'MacBook'").show()

+----+----+---------+---+-------+---+----------+-----+------+----+
|   D|   H|      HDD| Id|  Model|RAM|ScreenSize|    W|Weight|Year|
+----+----+---------+---+-------+---+----------+-----+------+----+
|7.74|0.52|256GB SSD|  2|MacBook|8GB|       12"|11.04|  2.03|2016|
+----+----+---------+---+-------+---+----------+-----+------+----+

### Get all data with Multiple Conditions when "D" greater than or equal "8" and "Model" column is "iMac".

In [18]:
spark.sql("SELECT * FROM TABLE WHERE D >= 8 AND MODEL == 'iMac'").show()

+---+----+-------+---+-----+----+----------+----+------+----+
|  D|   H|    HDD| Id|Model| RAM|ScreenSize|   W|Weight|Year|
+---+----+-------+---+-----+----+----------+----+------+----+
|8.0|20.3|1TB SSD|  4| iMac|64GB|       27"|25.6|  20.8|2017|
+---+----+-------+---+-----+----+----------+----+------+----+

## Task 2

### Read "test1" dataset:

In [10]:
schema = 'Name STRING, age INTEGER, Experience INTEGER, Salary FLOAT'
df_test1 = spark.read.format('csv').schema(schema).option('header','true').load('test1.csv')
# df_test1 = spark.read.csv('test1.csv',header=True,schema=schema)

In [11]:
df_test1.show(5)

+---------+---+----------+-------+
|     Name|age|Experience| Salary|
+---------+---+----------+-------+
|    Krish| 31|        10|30000.0|
|Sudhanshu| 30|         8|25000.0|
|    Sunny| 29|         4|20000.0|
|     Paul| 24|         3|20000.0|
|   Harsha| 21|         1|15000.0|
+---------+---+----------+-------+
only showing top 5 rows

### Display Salary of the people less than or equal to 20000

In [29]:
df_test1.createOrReplaceTempView("TABLE_TEST1")

In [30]:
spark.sql("SELECT Salary from TABLE_TEST1 where Salary <= 20000").show()

+-------+
| Salary|
+-------+
|20000.0|
|20000.0|
|15000.0|
|18000.0|
+-------+

### Display Salary of the people less than or equal to 20000 and greater than or equal 15000

In [31]:
spark.sql("SELECT Salary from TABLE_TEST1 where Salary <= 20000 AND Salary >= 15000").show()

+-------+
| Salary|
+-------+
|20000.0|
|20000.0|
|15000.0|
|18000.0|
+-------+

## Task 3

### Read "test3" dataset:

In [32]:
schema = 'Name STRING, Department STRING, salary FLOAT'
df_test3 = spark.read.format('csv').schema(schema).option('header','true').load('test3.csv')

### Display dataset

In [33]:
df_test3.show(5)

+------+------------+-------+
|  Name|  Department| salary|
+------+------------+-------+
| Krish|Data Science|10000.0|
| Krish|         IOT| 5000.0|
|Mahesh|    Big Data| 4000.0|
| Krish|    Big Data| 4000.0|
|Mahesh|Data Science| 3000.0|
+------+------------+-------+
only showing top 5 rows

### Display schema

In [34]:
df_test3.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)
 |-- salary: float (nullable = true)

### Group by "Name" column and using sum function on "Name" column

In [35]:
df_test3.createOrReplaceTempView("TABLE_TEST3")

In [36]:
spark.sql("select Name, sum(salary) from TABLE_TEST3 group by Name").show()
# df_test3.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|    35000.0|
|    Sunny|    12000.0|
|    Krish|    19000.0|
|   Mahesh|     7000.0|
+---------+-----------+

### Group by "Name" column and using avg function on "Name" column

In [37]:
spark.sql("select Name, avg(salary) from TABLE_TEST3 group by Name").show()
# df_test3.groupBy('Name').avg().show()

+---------+------------------+
|     Name|       avg(salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

### Group by "Departments" column and using sum function on "Departments" column

In [38]:
spark.sql("select Department, sum(salary) from TABLE_TEST3 group by Department").show()

+------------+-----------+
|  Department|sum(salary)|
+------------+-----------+
|         IOT|    15000.0|
|    Big Data|    15000.0|
|Data Science|    43000.0|
+------------+-----------+

### Group by "Departments" column and using mean function on "Departments" column:

In [39]:
spark.sql("select Department, mean(salary) from TABLE_TEST3 group by Department").show()

+------------+------------+
|  Department|mean(salary)|
+------------+------------+
|         IOT|      7500.0|
|    Big Data|      3750.0|
|Data Science|     10750.0|
+------------+------------+

Group by "Departments" column and using count function on "Departments" column:

In [40]:
spark.sql("select Department, count(Department) from TABLE_TEST3 group by Department").show()
# df_test3.groupBy('Departments').count().show()

+------------+-----------------+
|  Department|count(Department)|
+------------+-----------------+
|         IOT|                2|
|    Big Data|                4|
|Data Science|                4|
+------------+-----------------+

### Apply agg to using sum function get the total of salaries

In [41]:
spark.sql("select sum(salary) as total_salaries from TABLE_TEST3").show()
# df_tes3.agg({'Salary':'sum'}).show()

+--------------+
|total_salaries|
+--------------+
|       73000.0|
+--------------+

## Task 4

You've been flown to their headquarters in Ulsan, South Korea, to assist them in accurately estimating the number of crew members a ship will need.

They're currently building new ships for certain customers, and they'd like you to create a model and utilize it to estimate how many crew members the ships will require.

Metadata:
1. Measurements of ship size 
2. capacity 
3. crew 
4. age for 158 cruise ships.

It is saved in a csv file for you called "ITI_data.csv". our task is to develop a regression model that will assist in predicting the number of crew members required for future ships. The client also indicated that they have found that particular cruise lines will differ in acceptable crew counts, thus this is most likely an important factor to consider when conducting your investigation.

In [13]:
schema = 'Ship_name STRING, Cruise_line STRING, Age FLOAT, Tonnage FLOAT, passengers FLOAT, length FLOAT, cabins FLOAT, passenger_density FLOAT, crew FLOAT'
df = spark.read.format('csv').schema(schema).option('header','true').load('ITI_data.csv')
# df = spark.read.csv('ITI_data.csv',inferSchema=True,header=True)

In [14]:
df.show(5)

+-----------+-----------+----+-------+----------+------+------+-----------------+----+
|  Ship_name|Cruise_line| Age|Tonnage|passengers|length|cabins|passenger_density|crew|
+-----------+-----------+----+-------+----------+------+------+-----------------+----+
|    Journey|    Azamara| 6.0| 30.277|      6.94|  5.94|  3.55|            42.64|3.55|
|      Quest|    Azamara| 6.0| 30.277|      6.94|  5.94|  3.55|            42.64|3.55|
|Celebration|   Carnival|26.0| 47.262|     14.86|  7.22|  7.43|             31.8| 6.7|
|   Conquest|   Carnival|11.0|  110.0|     29.74|  9.53| 14.88|            36.99|19.1|
|    Destiny|   Carnival|17.0|101.353|     26.42|  8.92| 13.21|            38.36|10.0|
+-----------+-----------+----+-------+----------+------+------+-----------------+----+
only showing top 5 rows

In [49]:
df.printSchema()

root
 |-- Ship_name: string (nullable = true)
 |-- Cruise_line: string (nullable = true)
 |-- Age: float (nullable = true)
 |-- Tonnage: float (nullable = true)
 |-- passengers: float (nullable = true)
 |-- length: float (nullable = true)
 |-- cabins: float (nullable = true)
 |-- passenger_density: float (nullable = true)
 |-- crew: float (nullable = true)

In [64]:
trainDF, testDF = df.randomSplit([.8,.2],seed=42)

### OneHotEncoder

In [65]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder
categoricalCols = ['Cruise_line']
indexOutputCols = [x + "_Index" for x in categoricalCols]
oheOutputCols = [x + "_OHE" for x in categoricalCols]

In [66]:
stringIndexer = StringIndexer(inputCols=categoricalCols,
                             outputCols=indexOutputCols,
                             handleInvalid='skip')
oheEncoder = OneHotEncoder(inputCols=indexOutputCols,
                          outputCols=oheOutputCols)

In [67]:
numericCols = [field for (field,dataType) in df.dtypes
              if ((dataType=='float')& (field!='crew'))]
numericCols

['Age', 'Tonnage', 'passengers', 'length', 'cabins', 'passenger_density']

In [68]:
assemblerInputs = oheOutputCols + numericCols
assemblerInputs

['Cruise_line_OHE',
 'Age',
 'Tonnage',
 'passengers',
 'length',
 'cabins',
 'passenger_density']

### Use VectorAssembler to merge all columns into one column:

In [69]:
from pyspark.ml.feature import VectorAssembler
vecAssembler = VectorAssembler(inputCols=assemblerInputs,outputCol='features')

### Create a Linear Regression Model

In [70]:
from pyspark.ml.regression import LinearRegression
lr = LinearRegression(labelCol='crew',featuresCol='features')

### Creating a Pipeline

In [71]:
from pyspark.ml import Pipeline
pipeline =Pipeline(stages = [stringIndexer,oheEncoder,vecAssembler,lr])

In [72]:
pipelineModel = pipeline.fit(trainDF)

In [73]:
predDF = pipelineModel.transform(testDF)

In [74]:
predDF.select('features','crew','prediction').show(5)

+--------------------+----+------------------+
|            features|crew|        prediction|
+--------------------+----+------------------+
|(24,[3,18,19,20,2...| 6.0|6.0769921722591365|
|(24,[10,18,19,20,...| 5.2|   5.1508153769685|
|(24,[10,18,19,20,...| 8.5| 8.602340906441478|
|(24,[5,18,19,20,2...|6.17| 5.495541507447429|
|(24,[2,18,19,20,2...|12.0|12.889496231053228|
+--------------------+----+------------------+
only showing top 5 rows

### Model Evaluation

In [75]:
from pyspark.ml.evaluation import RegressionEvaluator
regressionEvaluator = RegressionEvaluator(predictionCol='prediction',
                                         labelCol='crew',
                                         metricName='rmse')
rmse = regressionEvaluator.evaluate(predDF)
print(f"RMSE is {rmse:.1f}")

RMSE is 0.5

In [76]:
# Using R^2
r2 = RegressionEvaluator(predictionCol='prediction',
                                         labelCol='crew',
                                         metricName='r2').evaluate(predDF)
print(f"R2 is {r2}")

R2 is 0.9707651093279098

By Eng. Mostafa Nabieh 
If you have questions, please feel free to ask.

My Email : nabieh.mostafa@yahoo.com

My Whatsapp : +201015197566